{% load staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html">
    <link href="{% static "base.css" %}" type="text/css" rel="stylesheet">
    {% block additional_css %}{% endblock %}
    {% block additional_js %}{% endblock %}
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}

    <title>{% block title %}{% endblock %} :: Интернет-магазин </title>
</head>
<body>{% block content %}{% endblock %}</body>
</html>